[Unit]
Description="Riedler's Dev Bot"
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=python3 /path/to/dev_meme_bot/main.py
WorkingDirectory=/path/to/dev_meme_bot/
#User=riedler
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
